@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117; /* gh-dark-bg */
  color: #c9d1d9; /* gh-dark-text */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slick Carousel Overrides to match the theme */
.slick-prev:before,
.slick-next:before {
  font-size: 24px !important;
  color: #c9d1d9 !important; /* gh-dark-text */
}

.slick-dots li button:before {
  color: #8b949e !important; /* gh-dark-secondary-text */
}

.slick-dots li.slick-active button:before {
    color: #58a6ff !important; /* gh-blue */
}